/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$ff-Mono: "Space Mono", monospace;

html {
  font-size: 62.5%;
}
/* Links */
a {
  text-decoration: none;
}
/* Lists */
li {
  list-style: none;
}
