.error {
  font-size: 1.6rem;
  font-weight: 700;
  color: #e17457;
}
.input-error {
  border: 2px solid #e17457;
}
.custom-onclick {
  border: 2px solid $green;
}
.input-onfocus {
  border: 2px solid $green;
}
