/* Color Pallete Variables */
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$green: hsl(172, 67%, 46%);
$light-green: hsl(172, 61%, 77%);

/* Font Weight Variables */
$font-weights: (
  "regular": 400,
  "bold": 700,
);

/* Media Queries Variables */
$xs-small: 370px;
$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98;
