@import "./resets";
@import "./typography";
@import "./variables";
@import "./functions";
@import "./buttons";

body {
  font-family: ff-Mono;
  font-size: 1.6rem;
  background-color: $light-grayish-cyan;
  height: 100vh;
}
/* Container */
.container {
  @include flexCenter(column);

  @media screen and (min-width: $medium) {
    height: 100vh;
  }
}
/* Form */
.form {
  @media screen and (min-width: $medium) {
    display: flex;
  }
}
/* Logo */
.logo {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4.8rem;
}
/* Card, Card body and Card Footer*/
.card {
  padding: 3.2rem;
  background-color: $white;
  border-radius: 25px 25px 0 0;

  @media screen and (min-width: $medium) {
    width: 92rem;
    height: auto;
    border-radius: 25px;
  }
}
.bill-wrapper,
.tip-wrapper,
.person-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.bill-text,
.tip-text,
.people-text {
  color: $dark-grayish-cyan;
  font-size: 1.6rem;
  font-weight: 700;
}
.dollar,
.person-icon {
  position: absolute;
  left: 6.19%;
  top: 44%;

  @media screen and (min-width: $medium) {
    left: 5%;
  }
}
.card-body {
  @media screen and (min-width: $medium) {
    flex: 1;
    margin-right: 4.8rem;
  }
}
.card-footer {
  background-color: $very-dark-cyan;
  border-radius: 15px;
  padding: 2.4rem;
  flex: 1;
}
.tip-amount,
.total-amount {
  font-size: 1.6rem;
  font-weight: 700;
  color: $white;
}
.per-person {
  font-size: 1.3rem;
  color: $grayish-cyan;
  font-weight: 700;
}
.group-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
/* Attribution */
.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
